@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn ease 0.8s;
}

/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1E1E1E;  /* Dark background color */
    color: #D4DDD8;  /* Light text color */
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(180deg, rgb(17, 17, 17) 50%, transparent 100%);
    color: #D4DDD8;  /* Light text color */
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

a {
    color: #D4DDD8;  /* Light text color */
    margin: 0 10px;
    text-decoration:underline;
    font-size: 1.2em;
}
a:hover {
    color: #d67933;  /* Accent color on hover */
}

.accent-color {
    color: #d67933;
}

main {
    text-align: center;
    flex: 1;
}

footer {
    background: linear-gradient(0deg, rgb(17, 17, 17) 50%, transparent 100%);
    color: #D4DDD8;  /* Light text color */
    text-align: center;
    padding: 30px 0;
    margin-top: auto;
    width: 100%;
}

hr {
    margin: 40px 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

/* Typography */
h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #D4DDD8;  /* Light text color */
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

img {
    max-width: 90%;
    max-height: 90%;
}

/* Article */
article {
    text-align: left;
    margin-left: 18%;
    margin-right: 18%;
    flex: 1;
}
.project-title {
    text-align: center;
}
article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article a {
    margin: 0;
    font-size: 1.11em;
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #D4DDD8;  /* Light text color */
    color: #1E1E1E;  /* Dark background color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
}

.button:hover {
    background-color: #d67933;  /* Accent color on hover */
    transform: scale(1.05);
}

/* Back to Top Button */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #D4DDD8;  /* Light text color */
    color: #1E1E1E;  /* Dark background color */
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
}

#back-to-top-btn:hover {
    background-color: #d67933;  /* Accent color on hover */
    transform: scale(1.05);
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #333;
    color: #D4DDD8;  /* Light text color */
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 0.9em;
}

/* Hero Section */
.hero {
    background: url('../assets/images/hero.gif') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Card Styles */
.card {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    color: white;
    transform: scale(1.05);
}

.card-content {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.card-content h3, .card-content p {
    margin: 0;
}

/* About Section */
.about-section {
    padding: 40px 20px;
    background-color: #1E1E1E;  /* Dark background */
    color: #D4DDD8;  /* Light text color */
    text-align: center;
}

.about-section p {
    max-width: 800px;
    margin: 0 auto;
}

/* Contact Section */
.contact-section {
    padding: 40px 20px;
    background-color: #1E1E1E;  /* Dark background */
    color: #D4DDD8;  /* Light text color */
    text-align: center;
}

.contact-section p {
    margin-bottom: 20px;
}

/* Pagination */
.pagination {
    text-align: center;
    padding: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #333;
    color: #D4DDD8;  /* Light text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #555;
}

/* Search Bar Styles */
#search-bar {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    font-size: 1.2em;
    border: 2px solid #d67933;  /* Accent color */
    border-radius: 8px;
    background-color: #2A2A2A;  /* Slightly lighter dark background */
    color: #D4DDD8;  /* Light text color */
}

#search-bar::placeholder {
    color: #D4DDD8;  /* Light text color */
}

#search-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#search-results .card {
    margin-bottom: 20px;
}

#search-results h3 {
    width: 100%;
    text-align: center;
}


/* Markdown extenstions */
/* TOC */
.toctitle {
    font-weight: bold;
    margin-bottom: 10px;
    color: #D4DDD8;  /* Light text color */
}

/* CodeHilite */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ebdbb2 }
.codehilite { background: #282828; color: #dddddd }
.codehilite .c { color: #928374; font-style: italic } /* Comment */
.codehilite .err { color: #282828; background-color: #fb4934 } /* Error */
.codehilite .esc { color: #dddddd } /* Escape */
.codehilite .g { color: #dddddd } /* Generic */
.codehilite .k { color: #fb4934 } /* Keyword */
.codehilite .l { color: #dddddd } /* Literal */
.codehilite .n { color: #dddddd } /* Name */
.codehilite .o { color: #dddddd } /* Operator */
.codehilite .x { color: #dddddd } /* Other */
.codehilite .p { color: #dddddd } /* Punctuation */
.codehilite .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #928374; font-style: italic } /* Comment.Multiline */
.codehilite .c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
.codehilite .cp { color: #928374; font-style: italic } /* Comment.Preproc */
.codehilite .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #928374; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
.codehilite .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
.codehilite .ges { color: #dddddd; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #fb4934 } /* Generic.Error */
.codehilite .gh { color: #ebdbb2; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
.codehilite .go { color: #f2e5bc } /* Generic.Output */
.codehilite .gp { color: #a89984 } /* Generic.Prompt */
.codehilite .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
.codehilite .gt { color: #fb4934 } /* Generic.Traceback */
.codehilite .kc { color: #fb4934 } /* Keyword.Constant */
.codehilite .kd { color: #fb4934 } /* Keyword.Declaration */
.codehilite .kn { color: #fb4934 } /* Keyword.Namespace */
.codehilite .kp { color: #fb4934 } /* Keyword.Pseudo */
.codehilite .kr { color: #fb4934 } /* Keyword.Reserved */
.codehilite .kt { color: #fb4934 } /* Keyword.Type */
.codehilite .ld { color: #dddddd } /* Literal.Date */
.codehilite .m { color: #d3869b } /* Literal.Number */
.codehilite .s { color: #b8bb26 } /* Literal.String */
.codehilite .na { color: #fabd2f } /* Name.Attribute */
.codehilite .nb { color: #fe8019 } /* Name.Builtin */
.codehilite .nc { color: #8ec07c } /* Name.Class */
.codehilite .no { color: #d3869b } /* Name.Constant */
.codehilite .nd { color: #fb4934 } /* Name.Decorator */
.codehilite .ni { color: #dddddd } /* Name.Entity */
.codehilite .ne { color: #fb4934 } /* Name.Exception */
.codehilite .nf { color: #8ec07c } /* Name.Function */
.codehilite .nl { color: #dddddd } /* Name.Label */
.codehilite .nn { color: #8ec07c } /* Name.Namespace */
.codehilite .nx { color: #dddddd } /* Name.Other */
.codehilite .py { color: #dddddd } /* Name.Property */
.codehilite .nt { color: #8ec07c } /* Name.Tag */
.codehilite .nv { color: #83a598 } /* Name.Variable */
.codehilite .ow { color: #fb4934 } /* Operator.Word */
.codehilite .pm { color: #dddddd } /* Punctuation.Marker */
.codehilite .w { color: #dddddd } /* Text.Whitespace */
.codehilite .mb { color: #d3869b } /* Literal.Number.Bin */
.codehilite .mf { color: #d3869b } /* Literal.Number.Float */
.codehilite .mh { color: #d3869b } /* Literal.Number.Hex */
.codehilite .mi { color: #d3869b } /* Literal.Number.Integer */
.codehilite .mo { color: #d3869b } /* Literal.Number.Oct */
.codehilite .sa { color: #b8bb26 } /* Literal.String.Affix */
.codehilite .sb { color: #b8bb26 } /* Literal.String.Backtick */
.codehilite .sc { color: #b8bb26 } /* Literal.String.Char */
.codehilite .dl { color: #b8bb26 } /* Literal.String.Delimiter */
.codehilite .sd { color: #b8bb26 } /* Literal.String.Doc */
.codehilite .s2 { color: #b8bb26 } /* Literal.String.Double */
.codehilite .se { color: #fe8019 } /* Literal.String.Escape */
.codehilite .sh { color: #b8bb26 } /* Literal.String.Heredoc */
.codehilite .si { color: #b8bb26 } /* Literal.String.Interpol */
.codehilite .sx { color: #b8bb26 } /* Literal.String.Other */
.codehilite .sr { color: #b8bb26 } /* Literal.String.Regex */
.codehilite .s1 { color: #b8bb26 } /* Literal.String.Single */
.codehilite .ss { color: #b8bb26 } /* Literal.String.Symbol */
.codehilite .bp { color: #fe8019 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #8ec07c } /* Name.Function.Magic */
.codehilite .vc { color: #83a598 } /* Name.Variable.Class */
.codehilite .vg { color: #83a598 } /* Name.Variable.Global */
.codehilite .vi { color: #83a598 } /* Name.Variable.Instance */
.codehilite .vm { color: #83a598 } /* Name.Variable.Magic */
.codehilite .il { color: #d3869b } /* Literal.Number.Integer.Long */
